{% extends "Temperature/Common/base.html" %}

{% block title %} 
	{{ head }} 
{% endblock %}

{% block content %}
	<header class="hero-unit">
		<h1>{{ head }}<br />
		<small>Temperature in the station</small></h1>
	</header>
	
	<article class="container" id="graph">
		
	</article>
{% endblock %}

{% block extra_script %}
	<script type="text/javascript">
	
	function getData(){
		return {{ data|safe }};
	}

	</script>
	
	{% load staticfiles %}
	<script type="text/javascript" charset="utf-8" src="{% static "js/amcharts.js" %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static "js/station_graph.js" %}"></script>
{% endblock %}
