<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<title>{% block title%} {% endblock %}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- CSS -->
	{% load staticfiles %}

	<link rel="stylesheet" media="screen" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" media="screen" href="{% static "css/font-awesome.min.css" %}"/>
	<link rel="stylesheet" media="screen" href="{% static "css/custom.css" %}"/>	
	{% block extra_css %} {% endblock %}
	
</head>

<body>
	
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="#">Temperature and Humidity</a>
			<ul class="nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		
			<a class="btn btn-danger pull-right" href="mailto:zubieta.roberto.e@gmail.com">
				<i class="icon-envelope-alt"></i> Created by: <strong>Roberto E. Zubieta</strong>
			</a>
    	</div>
	</div>	
	
	{% block content %} {% endblock %}
	
	<!-- Scripts -->
	{% load staticfiles %}
	<script type="text/javascript" charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="{% static "js/bootstrap.min.js" %}"></script>
	
	{% block extra_script %} {% endblock %}
	
</body>